.alignleft {
	display: inline;
	float: left;
  @include margin-right(1.25);
}

.alignright {
	display: inline;
	float: right;
  @include margin-left(1.25);
}

.aligncenter {
	clear: both;
	@include center-block;
}
