

$color__black    : #000;    // Black
$color__white    : #fff;    // White
$color__grey     : #FAFAFA; // Greywhite
$color__silver   : #E8E8E8; // Silver lined cloud

$color__lblack   : #111;    // Less Black

$color__blue     : #000256; // Dark Night Blue
$color__lblue    : #5B85Cf; // Chocolate Milk


$color__text-main: $color__lblack;
$color__text-screen: #2660A4;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__blue;
$color__link-visited: $color__link;
$color__link-hover: $color__lblue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border: $color__silver;

$color__background-body: $color__grey;
$color__background-screen: $color__silver;
$color__background-hr: $color__text-main;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;