html {
  font-size: 10px;
}

body {
  font-size: 1.25rem;
}


@keyframes anim{
  from {
    transform: translatex(300px);
  }
  to {
    transform: translatex(0);
  }
}

button {
  animation:anim 2s ease-in;
}
