/*--------------------------------------------------------------
# Layout > Header
--------------------------------------------------------------*/
.l-header {
  .site-controls {
    display: flex-column;
    @include tabletUp {
      display: block;
    }
  }
  .main-navigation,
  .main-search {
    width: 100%;
    background: $color__silver;
    @include tabletUp {
      width: 100%;
    }
  }
}