/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
@import "_header.scss";
@import "_nav.scss";
@import "_main.scss";
@import "_aside.scss";
@import "_footer.scss";

// Templates

@import "_t_home.scss";
@import "_t_list.scss";
@import "_t_single.scss";

.site {
  max-width: 940px;
  @include leader(1);
  @include trailer(1);
  margin-right: auto;
  margin-left: auto;
  background: $color__white;
  border: 1px solid $color__border;
  box-shadow: 0px 5px 10px #ddd;
}

.site-content {
  padding: 0 1rem;
  @include tabletUp {
    display: flex;
  }
}

#primary {
  @include tabletUp {
    padding-right: 1rem;

  }
}

#secondary {
  @include tabletUp {
    width: 280px;
    min-width: 280px;
  }
}