/*--------------------------------------------------------------
# Modules - Menus
--------------------------------------------------------------*/

.main-navigation {
  clear: both;
}

.nav-menu {
  display: none;
  padding-left: 0;
  @include tabletUp {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color__grey;
  }
}
.menu-item {
  display: block;
  @include tabletUp {
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;
  }
  a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $color__navy;
    @include mobile {
      padding-left: $indent-amount;
    }
    &:hover {
      background: $color__white;
      color: $color__link;
    }
  }
}
.toggled .nav-menu {
  @include mobile {
    display: block;
    margin-top: 0;
  }
}
.toggled .menu-item {
  @include mobile {
    background: $color__silver;
  }
}


.menu-toggle {
  width: 100%;
  max-width: 180px;
  display: block;
  @include tabletUp {
    display: none;
  }
}