/*--------------------------------------------------------------
# Modules - Menus
--------------------------------------------------------------*/

.main-navigation {
  clear: both; // Not needed?
}

.nav-menu {
  display: none;
  @include tabletUp {
    display: block;
  }
}

.menu-item {
  display: block;
  @include tabletUp {
    display: inline-block;
  }
}

.toggled .nav-menu {
  @include mobile {
    display: block;
  }
}

.menu-toggle {
  width: 50%;
  display: block;
  @include tabletUp {
    display: none;
  }
}